In [1]:
import mysql.connector

In [ ]:
mydb = mysql.connector.connect(host='137.184.230.178',database='photo_gallery',user='aks',password='123')   
mycursor = mydb.cursor()

sql = "SELECT * FROM tweets"

mycursor.execute(sql)

result = mycursor.fetchall()
result

In [ ]:
sql = "TRUNCATE TABLE tweets"

mycursor.execute(sql)

In [ ]:

sql = "SELECT * FROM tweets"

mycursor.execute(sql)

result = mycursor.fetchall()
result